/*
* 	Owl Carousel Owl Demo Theme
*	v1.3.3
*/

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}

/*Theme UNACH*/
/*Slider*/
/* line 30, ../sass/partials/_layout.scss */


.item {
display : table;
border-collapse : collapse;
width:100%; }

.cont-info {
display : table-cell;
width:38%;
vertical-align: top;
background-image: url("../images/caja-slider.jpg");
}

.owl-enlace
{
	margin-top: 40%;
	text-align: right;
	padding-right: 2rem;
}

.owl-titulo
{
	padding: 35px;
}
.owl-titulo a
{
	color: #fff;
	font-size: 1.5rem;
	text-decoration: none;

}
.owl-enlace a
{
	color:#fff;
	text-decoration:none;
	}

.owl-banner {
display : table-cell;
width:62%;
}

.more
{
	text-align: right;
}
.more a:before
{
	content: "";
	background-image: url("../images/leer_mas.jpg");
	background-repeat: no-repeat;
	padding-left: 22px;
	padding-bottom: 8px;
}
.more a{
	font-size: 13px;
	text-decoration: none;
}

@media screen and (max-width: 768px) {
	.owl-enlace
	{
		margin-top: 32%;

	}


}

@media screen and (max-width: 623px) {
	.owl-enlace
	{
		margin-top: 18%;

	}


}

@media screen and (max-width: 510px) {
	.owl-enlace
	{
		margin-top: 10%;

	}

	.more
	{

	}

	.cont-info
	{
		display: none;
	}

	.owl-enlace a{
		font-size: 14px;
	}
	.owl-titulo
	{
		padding: 15px;
	}

}
